// File for scss-vars.
// For example: main colors, paddings and so on.

$white: #fff;
$gray-bg: #ecedf1;
$orange: #f6b431;
$dark-orange: #de9e20;
$orange-font: #f6b431;
$darkest-blue: #253957;
$dark-font-blue: #324a6d;
$dark-blue: #344d71;
$darken-blue: #3a557c;
$dark-lighten-blue: #466289;
$dark-light-blue: #4771af;
$blue: #516e96;
$gray-font: #63727a;
$light-gray: #83969f;
$light-gray-font: #aeb3ba;
