<header class="header">
    <div class="header-wrapper">
        <div class="top">
            <div class="logo">
                <a href="#" class="logo__link">profile</a>
            </div>
            <div class="nav-social">
                <ul class="navigation-social">
                    <li class="navigation-social__item">
                        <a href="#" class="navigation-social__item">
                            <i class="social social-linked"></i>
                        </a>
                    </li>
                    <li class="navigation-social__item">
                        <a href="#" class="navigation-social__item">
                            <i class="social social-facebook"></i>
                        </a>
                    </li>
                    <li class="navigation-social__item">
                        <a href="#" class="navigation-social__item">
                            <i class="social social-twitter"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="middle">
            <div class="search">
                <form action="#" class="search-container__form">
                    <div class="form-row">
                        <input type="text" name="search" class="search-input input-text" placeholder="Set your email">
                        <button class="btn btn-orange btn-search"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>
            <div class="phone-block">
                <a href="tel:+1300555555">1300 555 555</a>
            </div>
        </div>
        <div class="bottom">
            <div class="navigation">
                <ul class="navigation-menu">
                    <li class="navigation-item"><a href="#" class="navigation-link">Courses</a>
                        <ul class="dropdown-navigation">
                            <li class="dropdown-navigation__item"><a href="#" class="dropdown-navigation__link">Web</a></li>
                            <li class="dropdown-navigation__item"><a href="#" class="dropdown-navigation__link">Photoshop</a></li>
                            <li class="dropdown-navigation__item"><a href="#" class="dropdown-navigation__link">UI/UX</a></li>
                            <li class="dropdown-navigation__item"><a href="#" class="dropdown-navigation__link">Programming</a></li>
                        </ul>
                    </li>
                    <li class="navigation-item">
                        <a href="#" class="navigation-link">Our portfolio</a>
                        <ul class="dropdown-navigation">
                            <li class="dropdown-navigation__item"><a href="#" class="dropdown-navigation__link">Sites</a></li>
                            <li class="dropdown-navigation__item"><a href="#" class="dropdown-navigation__link">Brands</a></li>
                            <li class="dropdown-navigation__item"><a href="#" class="dropdown-navigation__link">Stickers</a></li>
                        </ul>
                    </li>
                    <li class="navigation-item">Enrol Now</li>
                    <li class="navigation-item">Services</li>
                    <li class="navigation-item">Blog</li>
                    <li class="navigation-item">Contact</li>
                </ul>
            </div>
            <div class="brand">
                <h1 class="page-title">Reach your limits</h1>
                <p class="page-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
            </div>
        </div>
    </div>
</header>
